<footer>

    <div class="box-container">

        <div class="box">
            <h3>Sobre Mi</h3>
            <p>Proyecto desarrolado para el Challenge Full Stack Javascript de Alkemy </p>
        </div>
       
        <div class="box">
            <h3>Seguime en las Redes</h3>
            <a href="https://portfolio-marianosuarez.web.app/">Portfolio</a>
            <a href="https://www.linkedin.com/in/mariano-suarez-/">Linkedn</a>
            <a href="https://github.com/suarezmariano">GitHub</a>
            <a href="mailto:marianohectorsuarez@gmail.com">Enviame un Mensaje</a>
        </div>

    </div>

    <h1 class="credit"> Diseñado por <span> Mariano Suarez </span> | 2021 - Todos los derechos reservados. </h1>

</footer>