<header>

    <a href="/" class="logo"><span>M</span>isGastos.<span>APP</span></a>
            
    <div class="log">
        <i class="fas fa-user" id="login-btn"><a href="/users/login"><p> Ingresar/Registrarse</p></a></i>
    </div>

</header>