<header>

    <a href="#" class="logo"><span>M</span>isGastos.<span>APP</span></a>
            
    <div class="log">
        <i class="fas fa-user" id="login-btn"><p> Ingresar/Registrarse</p></i>
    </div>

</header>