<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MisGastos.APP</title>
    
    <!-- font awesome cdn link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!--custom css file link-->
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body>
    
<!-- header starts here-->
<header>

    <a href="#" class="logo"><span>M</span>isGastos.<span>APP</span></a>
            
    <div class="log">
        <i class="fas fa-user" id="login-btn"><p> Ingresar/Registrarse</p></i>
    </div>

</header>
<!-- header ends here-->

        
<!-- Login form container starts here -->
<div class="login-form-container"> 

    <i class="fas fa-times" id="form-close"></i>

    <form action="">
        <h3>Login</h3>
        <input type="email" class="box" placeholder="Ingrese su correo electrónico">
        <input type="password" class="box" placeholder="Ingrese su contraseña">
        <input type="submit" value="Ingresar" class="btn">
        <input type="checkbox" id="remember">
        <label for="remember">Recordar Contraseña</label>
        <p>Olvidó su contraseña?<a href="#"> Resetear Contraseña</a></p>
        <p>No tiene cuenta?<a href="#"> Registrarse</a></p>
    </form>

</div>
<!-- Login form container ends here -->

<!-- home section starts here-->
<section class="home" id="home">

    <div class="content">
        <img src="/images/background.jpg">
        <h3>Comenzá a administrar tus finanzas</h3>
        <p>Y lográ la libertad financiera</p>
        <a href="#" class="btn">Descubra mas</a>
    </div>        

</section>
<!-- home section ends here-->

</body>
</html>