<!DOCTYPE html>
<html lang="en">

    <%- include("./partials/head.ejs") %>

<body>

    <%- include("./partials/header.ejs") %>

    <section class="home" id="home">

        <div class="content">
            <img src="/images/background.jpg">
            <h3>Comenzá a administrar tus finanzas</h3>
            <p>Y lográ la libertad financiera</p>
            <a href="./resume" class="btn">Empieza ahora</a>
        </div>        

    </section>


    <%- include("./partials/footer.ejs") %>

</body>
</html>