<!DOCTYPE html>
<html lang="en">

    <%- include("../partials/head.ejs") %>

<body>

    <%- include("../partials/header.ejs") %>
            
    <section class="home" id="home">

        <div class="content">
            <img src="/images/background.jpg">
            
            <div class="login-form-container">

                <form method="POST" action="/users/login" id="login">

                    <h2>Login</h2>
                    <input type="email" name="email" id="name" class="box" placeholder="Ingrese su correo electrónico">
                    <% if (locals.errors && errors.email){%>
                        <div class="text-danger"><%=errors.email.msg%></div>
                    <%}%>
                    <input type="password" name="password" id="password" class="box" placeholder="Ingrese su contraseña">
                    <button type="submit" class="btn">Ingresar</button>
                    <input type="checkbox" id="remember">
                    <label for="remember">Recordar Contraseña</label>
                    <h1>Olvidó su contraseña?<a href="#"> Resetear Contraseña</a></h1>
                    <h1>No tiene cuenta?<a href="./register"> Registrarse</a></h1>

                </form>

                <div>

                    <a href="../" class="btn">Volver</a> 
                    
                </div>


            </div>      

        </div> 
    </section>

    <%- include("../partials/footer.ejs") %>

</body>
</html>